<html>
  <head>
    <%- include('partials/header1.ejs') %>
  </head>
  <body>
    <%- include('partials/navbar1.ejs') %>
    <div class="container">
      <h2>New Zealand</h2>
      <img class="img2" src="/public/images/bridalVeilFalls.jpg" alt="Bridal Veil Falls" />
      <p>New Zealand is a peaceful country.</p>
      <p><a href="auckland">Auckland</a> is the commercial hub of New Zealand.</p>
      <p style="color: blueviolet">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta laborum
        natus, ratione quibusdam placeat consequuntur accusantium alias, itaque
        beatae blanditiis dicta? Hic doloremque perferendis aliquid dolorum
        ipsum quae cumque voluptates. 
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta laborum
        natus, ratione quibusdam placeat consequuntur accusantium alias, itaque
        beatae blanditiis dicta? Hic doloremque perferendis aliquid dolorum
        ipsum quae cumque voluptates.
      </p>
    </div>
  </body>
</html>
