<html>
  <head>
    <%- include('partials/header1.ejs') %>
  </head>
  <body>
    <h2 style="color: red">Members only page.</h2>
    <%- include('partials/navbar1.ejs') %>
    <p style="color: #00f">
      Welcome to a Members only page. You are now logged in.
    </p>
    <p style="color: #7fae5d">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia debitis
      expedita doloremque quos natus. Suscipit adipisci odio ducimus ea at illo
      in incidunt eius atque modi magnam, quibusdam est natus!
    </p>
  </body>
</html>
